<div class="container">
  <div class="mb-3">
    <a type="button" class="btn btn-link"
       routerLink="/posts">Back to posts
    </a>
  </div>
  <div *ngIf="post">
    <h2 class="mb-3">Post {{post.id}} Details</h2>

    <div [formGroup]="postForm">

      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" formControlName="title">
      </div>
      <div class="mb-3">
        <label for="userId" class="form-label">User</label>
        <select id="userId" class="form-select" formControlName="userId">
          <option value="" disabled selected>Select a user</option>
          <option *ngFor="let user of users" [value]="user.id">{{user.name}}</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="body" class="form-label">Body</label>
        <textarea type="text" class="form-control" id="body" formControlName="body"></textarea>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</div>


